* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background: blue;
	height: 308px;
	color: white;
	display: inline-block;
	width: 100%;
}
h1 {
	margin-left: 240px;
	padding-top: 70px;
}
header h1, .textbold {
	font-family: 'FreeSansBold';
}
div {
	display: inline-block;
	width: 100%;
}
.img18, .img19, .img20, .img21 {
	width: 463px;
	height: 420px;
	position: relative;
	display: inline-block;
}
p {
	font-family: 'FreeSans';
	position: absolute;
}
.textbold, p {
	top: 315px;
	position: absolute;
}